<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
            <h3 class="mb-0">Transactions List</h3>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">OrderId</th>
                  <th scope="col">customer</th>
                  <th scope="col">Amount</th>
                  <th scope="col">Status</th>
                  <th scope="col">Created At</th>
                  <th scope="col">Receipt</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of transactionsList | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize ">
                  <th>
                    <div class="media-body">
                      <span class="mb-0 text-sm">{{user.id}} </span>
                    </div>
                  </th>
                  <th>
                    <div class="media-body">
                      <span class="mb-0 text-sm">{{user.orderId}} </span>
                    </div>
                  </th>
                  <th>
                    <div class="media-body">
                      <span class="mb-0 text-sm">{{user.customer}} </span>
                    </div>
                  </th>
                  <th>
                    <div class="media-body">
                      <span class="mb-0 text-sm">$ {{(user.amount)/100 | number:'1.2-3' }} </span>
                    </div>
                  </th>
                  <td>
                    <div *ngIf=" (user.status) ; else elsefailed">
                      <div class="d-flex align-items-center">
                        <span class="badge badge-success">paid</span>
                      </div>
                    </div>
                    <ng-template #elsefailed>
                      <div class="d-flex align-items-center">
                        <span class="badge badge-danger">failed</span>
                      </div>
                    </ng-template>
                    </td>
                  <th>
                    <div class="media-body">
                      <span class="mb-0 text-sm">{{user.createdAt | date: 'dd/MM/yyyy' }} </span>
                    </div>
                  </th>
                  <th>
                    <div class="media-body">
                      <a href="{{user.receipt_url}}" class="btn btn-outline-primary btn-sm" role="button" aria-pressed="true">view</a>
                    </div>
                  </th>
                </tr>
                <!-- end of first row -->
              </tbody>
            </table>
          </div>
          <div class="card-footer py-4">
            <nav aria-label="...">
              <ul class="pagination justify-content-end mb-0">
                <ngb-pagination [collectionSize]="transactionsList.length" [(page)]="page" [maxSize]="10" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
