<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(assets/img/theme/chef.jpg); background-size: cover; background-position: center top;">
    <!-- Mask -->
    <span class="mask bg-gradient-danger opacity-8"></span>
    <!-- Header container -->
      <div class="col-xl-8 order-xl-1">
        <div class="card bg-secondary shadow">
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">My account</h3>
              </div>
              <div class="col-4 text-right">
                <a href="#!" class="btn btn-sm btn-primary">Settings</a>
              </div>
            </div>
          </div>
          <div *ngIf="currentPlate" class="card-body">
            <form>
              <h6 class="heading-small text-muted mb-4">Plate Category Details</h6>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-username">Name</label>
                      <input type="text" class="form-control form-control-alternative" id="name" placeholder="name" [(ngModel)]="currentPlate.name" name="name"/>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-email">Description</label>
                      <input type="text" class="form-control form-control-alternative" id="description" placeholder="description" [(ngModel)]="currentPlate.description" name="description"/>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-text">Id</label>
                      <input type="text" id="input-text" class="form-control form-control-alternative" placeholder="Id" value="{{currentPlate.id}}">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-text">created On</label>
                      <input type="text" id="input-text" class="form-control form-control-alternative" placeholder="created on" value="{{currentPlate.createdAt}}">
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label><strong>Status:</strong></label>
                {{ currentPlate.published ? "Published" : "Pending" }}
              </div>
            </form>
            <button
    class="btn btn-outline-info"
    *ngIf="currentPlate.published"
    (click)="editPublished(false)"
  >
    UnPublish
  </button>
  <button
    *ngIf="!currentPlate.published"
    class="btn btn-outline-info"
    (click)="editPublished(true)"
  >
    Publish
  </button>
  <button type="submit" class="btn btn-outline-success" (click)="editPlateCategory()">
    Update
  </button>
  <p>{{ message }}</p>
  <span><i>Last updated on: {{currentPlate.updatedAt | date: 'medium' }}</i></span>
          </div>
        </div>
        
      </div>
    </div>
  
